@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2><a href="Swagger/index.html">Swagger</a></h2>
    <h2 class="display-4">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-4"></h2>
    <p>Learn about <a href="./GetCustomers/4">user with id 4</a>.</p>
</div>