@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a href="Swagger/index.html">Swagger</a></h1>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-4">Get All users</h2>
    <p>Learn about <a href="./GetCustomers">All users</a>.</p>
    <p>Learn about <a href="./GetCustomers/4">user with id 4</a>.</p>

</div>
